.panels-flexible-region {
  padding: 0;
}

.panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-column {
  padding: 0;
}

.panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-7-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-7-inside {
  padding-right: 0px;
}

.panels-flexible-7 {
  width: auto;
}

.panels-flexible-region-7-logo {
  float: left;
  width: 29.7876%;
}

.panels-flexible-region-7-center {
  float: left;
  width: 44.4276%;
}

.panels-flexible-region-7-logo_ {
  float: left;
  width: 24.7848%;
}

.panels-flexible-row-7-main-row-inside {
  padding-right: 0px;
}

.panels-flexible-region-7-universities_served {
  float: left;
  width: 29.7743%;
}

.panels-flexible-region-7-services {
  float: left;
  width: 69.2257%;
}

.panels-flexible-row-7-1-inside {
  padding-right: 0px;
}

